
<ul class="posts">
	<% @posts.each do |post| %>
		<li>
			<%= link_to Base64.decode64(post.title), post_path(post) %>
			<br />
			<small><%= Base64.decode64(post.creator) %> <%=post.pubdate %></small>
			<br />
			
				
		</li>
	<% end %>
</ul>
