<% provide(:title, "Edit Feed") %>
<h1>Edit Feed</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@feed) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Update Feed", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>