<% provide(:title, 'New Feed') %>
<h1>Create a new feed</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@feed) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Create Feed", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>