<header class="navbar ">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "TidyFeed", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Link1", '#' %></li>
					<li><%= link_to "Link2", '#' %></li>
					<li><%= link_to "Help", help_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>